<%- include('../partials/header') %>
    <section id="show-song">
        <div>Title: <%= song.title %> </div>
        <div>Artist: <%= song.artist %> </div>
        <div>Release Year: <%= song.releaseYear %> </div>
        <div>Song Duration: <%= song.songDuration %> </div>
    </section>
<%- include('../partials/footer') %>